/* p {
    font-size: 50px;
}
h1 {
    font-size:  100px;
} */
img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border-style: dotted;
}
body {
    background-color: rgb(206, 205, 255);
}
h1 {
    color: rgb(19, 103, 193);
    font-family:  cursive; 
}
p {
    font-size: 20px;
    color: rgb(42, 165, 151);
}
div {
    background-color: bisque;
    text-align: center;
}
button {
    width: 150px;
    height: 40px;
    border-color: blue;
    border-radius: 10px;
    background-color: rgb(218, 127, 127);
}