/* p {
    font-size: 50px;
}
h1 {
    font-size: 100px;
} */
body {
    background-color:bisque;
}
img {
    width: 250px;
    height: 250px;
}
h1 {
    color: rgb(255, 0, 0);
}
div {
    background-color:forestgreen;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}
button {
    background-color:black;
    color: white;
    border-radius: 10px;
    font-family: cursive;
    width: 500px;
    height: 45px;
    font-size:25px;
}